<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egovframework.com.project.mapper.ProjectMapper">	
	
	<!-- ======================프로젝트=====================  -->
	
	<!-- 프로젝트 전체조회 -->
	<select id="projectSelectAll" parameterType="projectDTO" resultType="projectDTO">
	SELECT *
			FROM (
				SELECT T0.*, ROWNUM RNUM
				FROM (
		
					select pr_cd,		--프로젝트 코드
						   type_cd,		--프로젝트 구분코드
						   pr_nm,		--프로젝트명
						   ahead_dt,	--내부완료일
						   start_dt,	--시작일
						   end_dt,		--종료일
						   price,		--금액
						   create_id,	
						   create_dt,
						   entrprs_mber_id,	--거래처id
						   state, 		--진행상태
			               fn_get_comnm(entrprs_mber_id) as com_nm	--거래처명
					from project
					where 
						UPPER(del_yn) = UPPER('N')
						
					 <include refid="searchCriteria"/>
			            
					order by 
						create_dt desc
						
			) T0
		)
		WHERE RNUM BETWEEN #{firstIndex} + 1 AND #{firstIndex} + #{recordCountPerPage}
	
	</select>
			            
	<!-- 프로젝트 전체건수 -->
	<select id="projectSelectAllCnt"  parameterType="projectDTO" resultType="Integer">
		select COUNT(pr_cd) as cnt
		from project
		WHERE UPPER(del_yn) = UPPER('N')
	 	
		 <include refid="searchCriteria"/>
	</select>
	
	<sql id="searchCriteria">
	
		<if test="searchCondition == 0">AND
	         PR_NM LIKE '%' || #{searchKeyword} || '%'
	    </if>
	    <if test="searchCondition == 1">AND
	         com_nm LIKE '%' ||#{searchKeyword} || '%'
	    </if>
	    
	    <if test="searchStartDt != null and searchStartDt != ''">
		  <![CDATA[ AND start_dt >= TO_DATE(#{searchStartDt}, 'YYYY-MM-DD') ]]>
		</if>
	
		<if test="searchEndDt != null and searchEndDt != ''">
		    <![CDATA[ AND start_dt <= TO_DATE(#{searchEndDt}, 'YYYY-MM-DD') ]]>
		</if>
	      
	      <if test="searchStartPrice > 0">AND
	           <![CDATA[price >= #{searchStartPrice}]]>
	    </if>
	    
	    <if test="searchEndPrice > 0">AND
	       	 <![CDATA[price <= #{searchEndPrice}]]>
	    </if>
    </sql>
	
	<!-- 프로젝트 단건조회 -->
	<select id="projectSelect" parameterType="String">
		select pr_cd,		--프로젝트 코드
			   type_cd,		--프로젝트 구분코드
			   pr_nm,		--프로젝트명
			   ahead_dt,	--내부완료일
			   start_dt,	--시작일
			   end_dt,		--종료일
			   price,		--금액
			   create_id,
			   create_dt,
			   entrprs_mber_id,	--거래처id
			   state, 		--진행상태
               fn_get_comnm(entrprs_mber_id) as com_nm	--거래처명
		from project
		where 
			pr_cd = #{prCd} 
		and 
			UPPER(del_yn) = UPPER('N')
	</select>
	
	<!-- 프로젝트 등록 -->
	<insert id="projectInsert" parameterType="projectDTO">
		INSERT INTO project (
			pr_cd,		--프로젝트 코드
		    type_cd,		--프로젝트 구분코드
		    pr_nm,		--프로젝트명
		    ahead_dt,	--내부완료일
		    start_dt,	--시작일
		    end_dt,		--종료일
		    price,		--금액
			create_id,
			entrprs_mber_id --거래처id
		)
		VALUES (
			seq_pr_cd.nextval,
			#{typeCd},
			#{prNm},
			#{aheadDt},
			#{startDt},
			#{endDt},
			#{price},
			#{createId},
			#{entrprsMberId}
		)
		
	</insert>
	
	<!-- 마지막삽입된 코드 찾기 -->
	<select id="getLastInsertedPrCd" resultType="string">
	    SELECT seq_pr_cd.CURRVAL FROM dual
	</select>
		
	
	<!-- 프로젝트 과업등록 -->
	<insert id="projectWorkInsert" parameterType="ProjectWorkDTO">
	    INSERT INTO project_work (pr_work_cd, pr_work_nm, seq, progress, state, pr_cd)
	    VALUES (seq_pr_work_cd.nextval, #{prWorkNm}, #{seq}, #{progress}, #{state}, #{prCd})
	</insert>


	<!-- 프로젝트 수정 -->
	<update id="projectUpdate" parameterType="projectDTO">
	    update project
	    set    
	        <if test="typeCd != null and typeCd != ''">
	            type_cd = #{typeCd}, 
	        </if>
	        <if test="prNm != null and prNm != ''">
	            pr_nm = #{prNm},
	        </if>
	        <if test="aheadDt != null">
	            ahead_dt = #{aheadDt},
	        </if>
	        <if test="startDt != null">
	            start_dt = #{startDt},
	        </if>
	        <if test="endDt != null">
	            end_dt = #{endDt},
	        </if>
	        <if test="state != null">
	            state = #{state},
	        </if>
	        <if test="entrprsMberId != null">
	            entrprs_mber_id = #{entrprsMberId},
	        </if>
	        <if test="price != null">
	            price = #{price},
	        </if>
	        update_dt = sysdate
	    where 
	        pr_cd = #{prCd}   
	</update>


	
	<!-- 프로젝트 삭제 -->
	<update id="projectDelete" parameterType="String">
		UPDATE 
		   project
		SET
		   del_yn = UPPER('Y')
		WHERE
		   pr_cd = #{prCd}
	</update>
	
	<!-- 프로젝트 다중 삭제 -->
	<update id="projectListDelete" parameterType="java.util.List">
	    UPDATE project 
	    SET del_yn = UPPER('Y')
	    WHERE pr_cd IN
	    <foreach collection="list" item="prCd" separator="," open="(" close=")">
	        #{prCd}
	    </foreach>
	</update>
	
	<!-- ======================프로젝트 과업=====================  -->
	
	<!-- 프로젝트 과업조회 -->
	<select id="projectWorkSelectAll" parameterType="String" resultType="projectWorkDTO">
		select pr_work_cd, --과업코드
			   pr_cd,		--프로젝트 코드
			   pr_work_nm, --과업명
			   seq, 		--순서
			   progress,	--진행률
			   state		--완료여부
		from project_work
		where 
			pr_cd = #{prCd}
		order by seq asc
	</select>	
	
	
	<!-- 프로젝트 과업삭제 -->
	<delete id="projectWorkDelete" parameterType="String">
		delete 
		from
		   project_work
		WHERE
		   pr_cd = #{prCd}
	</delete>
	
	<!-- ======================프로젝트 일정=====================  -->
	
	<!-- 프로젝트 일정조회 -->
	<select id="projectPlanSelectAll" parameterType="String" resultType="projectDTO">
		select pr_plan_cd,		--일정코드
			   pr_cd,			--프로젝트 코드
			   plan_nm,			--일정명
			   start_dt,		--시작일
			   end_dt,			--종료일
			   color,			--색상
			   create_id,
			   create_dt
		from project_plan
		where 
			pr_cd = #{prCd}
		order by start_dt asc
	</select>
	
	<!-- 프로젝트 일정 단건조회 -->
	<select id="projectPlanSelect" parameterType="String">
		select pr_plan_cd,		--일정코드
			   pr_cd,			--프로젝트 코드
			   plan_nm,			--일정명
			   start_dt,		--시작일
			   end_dt,			--종료일
			   color,			--색상
			   create_id,
			   create_dt
		from project_plan
		where 
			pr_plan_cd = #{prPlanCd}
	</select>
	
	<!-- 프로젝트 일정등록 -->
	<insert id="projectPlanInsert" parameterType="projectDTO">
		INSERT INTO project_plan (
			pr_plan_cd,		--일정코드
			pr_cd,			--프로젝트 코드
			plan_nm,		--일정명
			start_dt,		--시작일
		    end_dt,			--종료일
		    color,			--색상
			create_id
		)
		VALUES (
			seq_pr_plan_cd.nextval,
			#{prCd},
			#{planNm},
			#{startDt},
			#{endDt},
			#{color},
			#{createId}
		)		
	</insert>
	
	<!-- 프로젝트 일정삭제 -->
	<delete id="projectPlanDelete" parameterType="String">
		delete 
		from
		   project_plan
		WHERE
		   pr_cd = #{prCd}
	</delete>

</mapper>