<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egovframework.com.menu.mapper.MenuInfoMapper">

	<!-- 계층형 메뉴 조회 -->
	<select id="menuSelectAll" resultType="egovframework.com.menu.service.MenuInfoDTO">
		SELECT
		   menu_cd,       <!-- 메뉴코드 -->
		   menu_nm,       <!-- 메뉴명 -->
		   depth,         <!-- 깊이 -->
		   parent_menu_cd,<!-- 부모코드 -->
		   url,           <!-- 메뉴 url -->
		   router_nm,     <!-- 라우터명 -->
		   icon_class,    <!-- 아이콘 클래스 -->
		   seq,           <!-- 순서 -->
		   use_yn,        <!-- 사용여부 -->
		   del_yn,        <!-- 삭제여부 -->
		   create_dt,     <!-- 등록일 -->
		   create_id,     <!-- 등록자 -->
		   update_dt,     <!-- 수정일 -->
		   update_id      <!-- 수정자 -->
		FROM
		   menuinfo
		WHERE
		   UPPER(use_yn) = UPPER('A01')
		AND
		   UPPER(del_yn) = UPPER('N')
		START WITH 
		   parent_menu_cd IS NULL  
		CONNECT BY PRIOR 
		   TO_NUMBER(menu_cd) = TO_NUMBER(parent_menu_cd)
		ORDER SIBLINGS BY 
		   seq ASC
	</select>
	
	<!-- 멤버 권한별 메뉴 목록 -->
	<select id="memberAuthorityMenuSelect" resultType="egovframework.com.menu.service.MenuInfoDTO">
		SELECT 
		    m.menu_cd,
		    m.menu_nm,
		    m.depth,
		    m.parent_menu_cd,
		    m.url,
		    m.router_nm,
		    m.icon_class,
		    m.seq,
		    m.use_yn,
		    m.del_yn
		FROM
		    menuinfo m
		JOIN
		    VW_MEMBER_MENU vmm ON m.menu_cd = vmm.menu_cd
		WHERE
		    vmm.mber_id = #{mberId}
		AND
		    UPPER(m.use_yn) = 'A01'
		AND
		    UPPER(m.del_yn) = 'N'
		ORDER BY
		    seq ASC
	</select>
	
	<!-- 권한에 대한 메뉴 목록 체크여부 -->
	<select id="authorityMenuSelectAll" parameterType="String" resultType="egovframework.com.menu.service.MenuInfoDTO">
		 SELECT 
		   b.menu_cd,      -- 메뉴코드
		   b.menu_nm,      -- 메뉴명
		   depth,          -- 메뉴깊이
		   parent_menu_cd, -- 메뉴 부모코드 
		   url,            -- 메뉴 url
		   router_nm,      -- 라우터명
		   icon_class,     -- 아이콘 클래스
		   seq,            -- 순서
		   use_yn,         -- 사용여부
		   del_yn,         -- 삭제여부
		   NVL(( SELECT 1 FROM  authority_menu vmm WHERE authority_cd = #{authorityCd} AND vmm.menu_cd = b.menu_cd ), 0) AS auth_yn
		FROM 
		   menuinfo b 
		WHERE
		   UPPER(b.use_yn) = UPPER('A01')
		AND 
		   UPPER(b.del_yn) = UPPER('N')
	</select>
	
	<!-- 일단 권한에 대한 접근 메뉴 테이블에서 조건절에 아이값을 넣고 그 아이디 값에 대한 전체를 싹 다 지우고 체크 된 값 새로 등록 -->

</mapper>