<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egovframework.com.authority.mapper.AuthorityMapper">

	<!-- 권한 전체조회 -->
	<select id="authoritySelectAll" resultType="authorityDTO">
		SELECT 
		   authority_cd,
		   authority_nm,
		   description,
		   create_dt,
		   create_id,
		   update_dt,
		   update_id
		FROM 
		   authority
		WHERE 
		   UPPER(del_yn) = UPPER('N')
		ORDER BY
		   create_dt ASC
   	</select>
	
	<!-- 권한 단건조회 -->
	<select id="authoritySelect" resultType="authorityDTO">
		SELECT 
		   authority_cd,
		   authority_nm,
		   description,
		   del_yn,
		   create_dt,
		   create_id,
		   update_dt,
		   update_id
		FROM 
		   authority
		WHERE 
		   authority_cd = #{authorityCd}
		AND
		   UPPER(del_yn) = UPPER('N')
	</select>
	
	<!-- 권한 등록 -->
	<insert id="authorityInsert" parameterType="authorityDTO">
		INSERT
		   INTO
		   authority(
		      authority_cd,
		      authority_nm,
		      description,
		      create_dt,
		      create_id,
		      update_dt,
		      update_id
		   )
		VALUES (
		      seq_authority_cd.NEXTVAL,
		      #{authorityNm},
		      #{description},
		      SYSDATE,
		      #{createId},
		      #{updateDt},
		      #{updateId}
		)
	</insert>
	
	<!-- 권한 수정 -->
	<update id="authorityUpdate" parameterType="authorityDTO">
		UPDATE 
		   authority
		SET
		   authority_nm = #{authorityNm},
		   <if test="description != null and !description.equals('')">
		   		description = #{description},
		   </if>
		   UPDATE_DT = SYSDATE,
		   UPDATE_ID = #{updateId}
		WHERE
		   authority_cd = #{authorityCd}
	</update>
	
	<!-- 권한 삭제 -->
	<update id="authorityDelete" parameterType="String">
		UPDATE 
		   authority
		SET
		   del_yn = UPPER('Y'),
		   UPDATE_DT = SYSDATE,
		   UPDATE_ID = #{updateId}
		WHERE
		   authority_cd = #{authorityCd}
	</update>
	
	<!-- 메뉴 접근권한 체크 -->
	<select id="isMenuAccessible" resultType="int">
		SELECT 
		   count(*) 
		FROM 
		   vw_member_menu
		WHERE 
		   mber_id = #{userId}
		AND   
		   menu_cd = #{menuCd}
	</select>
	
	<!-- 일단 권한에 대한 접근 메뉴 테이블에서 조건절에 아이값을 넣고 그 아이디 값에 대한 전체를 싹 다 지우고 체크 된 값 새로 등록 -->
	<delete id="authorityMenuDelete">
		DELETE FROM 
		   authority_menu
		WHERE 
		   authority_cd = #{authorityCd}
	</delete>
	
	<insert id="authorityMenuInsert">
		INSERT INTO 
		   authority_menu(
		      menu_cd,
		      authority_cd)
		VALUES (
		   menu_cd,
		   authority_cd
		)
	</insert>

</mapper>