<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="egovframework.com.approval.mapper.DocumentMapper">
	
	<!-- 문서기안 -->
    <insert id="documentInsert">
       INSERT INTO DOCUMENT (
	       DOC_CD, 
	       DOC_TITLE, 
	       DOC_CN, 
	       DOC_CN_EDITOR, 
	       MEM_CD, 
	       CRNT_SIGN_STAT, 
	       DRAFT_DT, 
	       COMPLETE_DT, 
	       DOC_KIND, 
	       ATCH_FILE_ID, 
	       FORM_CD)
       VALUES (
	       #{docCd}, 
	       #{docTitle}, 
	       #{docCn}, 
	       #{docCnEditor}, 
	       #{memCd}, 
	       #{crntSignStat}, 
	       SYSDATE, 
	       #{completeDt},
	       #{docKind}, 
		   #{atchFileId}, 
		   #{formCd})
    </insert>
    
    <!-- 문서회수(상태 회수로변경) -->
    <update id="documentUpdate">
    	update document
    	set	crnt_sign_stat='H05'
    	where doc_cd = #{docCd}
    </update>
    
    <!-- 문서삭제 -->
     <update id="documentDelete">
    	update document
    	set	del_yn = 'Y'
    	where doc_cd = #{docCd}
    </update>
    
    <!-- 문서양식 -->
    <select id="formSelectAll" resultType = "egovframework.com.approval.service.FormDTO">
    	SELECT
    		form_cd,
    		form_type,
    		form_file
    	FROM FORM_TYPE
    </select>
    
    <!-- 문서카운트 -->
    <select id="getCount" resultType="int">
	  SELECT 
	  COUNT(*) 
	  FROM document
	  where 1=1
	  <include refid="searchCriteria" />
	</select>
	
    <!-- 문서조회 -->
    <select id="documentSelectAll" resultType="egovframework.com.approval.service.DocumentDTO" parameterType="egovframework.com.approval.service.SearchDTO">
		 SELECT * FROM (
		            SELECT 
		                ROWNUM AS rn,
		                doc_cd,
		                doc_title,
		                doc_cn,
		                doc_cn_editor,
		                fn_get_memnm(MEM_CD) as mem_cd,
		                fn_get_deptNm(MEM_CD) as dept_nm,
		                fn_get_codename(CRNT_SIGN_STAT) as crnt_sign_stat,
		                draft_dt,
		                complete_dt,
		                fn_get_codename(DOC_KIND) as doc_kind,
		                atch_file_id,
		                form_cd,
		                fn_get_formnm(form_cd) as form_nm,
		                del_yn
		            FROM DOCUMENT
		                WHERE 1=1
		                AND del_yn = UPPER('N')
		                <include refid="searchCriteria"/>
		            <![CDATA[AND ROWNUM <= #{end}]]>
		        ) 
		        WHERE rn >= #{start}
		        ORDER BY draft_dt DESC
    </select>

	<!-- 검색조건함수 -->
    <sql id="searchCriteria">
        <if test="status != null and status != ''">
            AND crnt_sign_stat = #{status}
        </if>
        <if test="delYn != null and delYn != ''">
            AND del_yn = #{delYn}
        </if>
        <if test="formCd != null and formCd != ''">
            AND form_cd = #{formCd}
        </if>
		<if test="docKind != null and docKind != ''">
            AND doc_kind = #{docKind}
        </if>
        <if test="deptNm != null and deptNm != ''">
            AND fn_get_deptNm(MEM_CD) = #{deptNm}
        </if>
		<if test='!startDate.isEmpty()'>
			<![CDATA[
			and to_char(draft_dt, 'yyyy-mm-dd') >= #{startDate}
			]]>
		</if>
		<if test='!endDate.isEmpty()'>
			<![CDATA[
			and to_char(draft_dt, 'yyyy-mm-dd') <= #{endDate}
			]]>
		</if>
    </sql>
</mapper>