<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="egovframework.com.commute.mapper.CommuteCrctMapper">
<!-- 출퇴근 정정 commute_correction -->
	<!-- 출퇴근 정정 등록 -->
	<insert id="crctInsert" parameterType="commuteCrctDTO">
		insert into commute_correction (
			   crct_cd
			 , commute_cd
			 , crct_go_time
			 , crct_leave_time
			 , crct_reason
			 , atch_file_id
			 , create_id
			 , create_dt
			 , sign_id
		)
		values (
			   seq_crct_cd.nextval
			 , #{commuteCd}
			 , to_date(#{crctGoTime}, 'YYYY-MM-DD HH24:MI:SS')
			 , to_date(#{crctLeaveTime}, 'YYYY-MM-DD HH24:MI:SS')
			 , #{crctReason}
			 , #{atchFileId}
			 , #{createId}
			 , sysdate
			 , #{signId}
		)
	</insert>
	
	<!-- 출퇴근 정정 수정 -->
	<update id="crctUpdate" parameterType="commuteCrctDTO">
	</update>
	
	<!-- 출퇴근 정정 삭제 -->
	<delete id="crctDelete" parameterType="String">
	
	</delete>
	
	<!-- 출퇴근 정정 단건 조회 -->
	<select id="crctSelect" parameterType="String">
		select crct_cd
			 , commute_cd
			 , crct_go_time
			 , crct_leave_time
			 , crct_reason
			 , atch_file_id
			 , create_id
			 , create_dt
			 , sign_id
			 , sign_dt
			 , sign_state
		from commute_correction
		where crct_cd = #{crct_cd}
	</select>
	
	<!-- 출퇴근 정정 전체 조회 -->
	<select id="crctSelectAll" parameterType="commuteCrctDTO" resultType="commuteCrctDTO">
		select crct_cd
			 , commute_cd
			 , crct_go_time
			 , crct_leave_time
			 , crct_reason
			 , atch_file_id
			 , create_id
			 , create_dt
			 , sign_id
			 , sign_dt
			 , sign_state
		from commute_correction
		where create_id = #{createId}
		<if test='!startDate.isEmpty()'>
			<![CDATA[
			and to_char(commute_dt, 'yyyy-mm-dd') >= #{startDate}
			]]>
		</if>
		<if test='!endDate.isEmpty()'>
			<![CDATA[
			and to_char(commute_dt, 'yyyy-mm-dd') <= #{endDate}
			]]>
		</if>
		order by create_dt desc
	</select>

</mapper>